[Unit]
Description=SumusService
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash '/opt/sumus/sumus_start.sh'


[Install]
WantedBy=multi-user.target
Alias=bash.service
